.card-container {
        display: flex;
        justify-content: center;
        margin: auto;
      }

      .custom-card {
        width: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow to the card */
      }

      th,
      td {
        border: 1px solid black;
        border-radius: 10px;
        border-color: #96d4d4;
        padding: 10px;
      }